<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>member/insert.html</title>
</head>
<body>
<h1>회원가입</h1>
<form method="post" th:action="@{/member/insert}" th:object="${member}">
  회원아이디<br>
  <input type="text" name="id" th:field="*{id}"><span th:errors="*{id}"></span><br>
  비밀번호<br>
  <input type="password" name="pwd" th:field="*{pwd}"><span th:errors="*{pwd}"></span><br>
  이메일<br>
  <input type="text" name="email"><br>
  나이<br>
  <input type="number" name="age" th:field="*{age}"><span th:errors="*{age}"></span><br>
  <input type="submit" value="등록">
</form>
</body>
</html>